body {
  font-family: "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#landing, #quiz, #results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#quiz, #results {
  display: none;
}

#image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  max-width: 100%;
  max-height: calc(100vh - 250px); /* 100vh is the full height of the viewport, minus 40px for any additional padding/margin */
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
}

img {
  margin-bottom: 20px;
  border-radius: 0px;
}

p {
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button-wrapper button {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  background-color: #89CFF0;
  color: #333;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.button-wrapper button:hover {
  background-color: #72A9C0;
}

.share-wrapper {
  display: flex;
  justify-content: center;
}

.share-wrapper button {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  background-color: orange;
  color: #333;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  background-color: #89CFF0;
  color: #333;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.quiz ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz li {
  padding: 10px 20px;
  margin: 5px;
  background-color: #89CFF0;
  border-radius: 0px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
}

.quiz li:hover {
  background-color: #72A9C0;
}

p {
  text-align: center;
}

.share-wrapper button:hover {
  background-color: #72A9C0;
}

.option {
    cursor: pointer;
}

.option:hover {
    background-color: #72A9C0;
}

.disabled {
    cursor: default;
    pointer-events: none;
}

.disabled:hover {
    background-color: inherit;
}

#next-question {
  position: absolute;
  display: none;
  padding: 10px 20px;
  background-color: #808080;
  color: white;
  cursor: pointer;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#next-question span {
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.8);
  padding: 10px 20px;
  border-radius: 0px;
}
#next-question:hover {
    background-color: #696969;
}

.message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 0px;
    font-size: 14px;
    display: none;
}
@media (max-width: 767px) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust the value according to your desired gap size */
    max-width: 300px; /* Adjust the value according to your desired maximum width */
    margin-left: auto;
    margin-right: auto;
  }

  li {
    display: flex; justify-content: center; align-items: center; text-align: center;
  }
  .top-bar h3 {
    margin-top: 3px; /* Reduce the margin-top of h3 */
  }
}
/* Style the top bar */
.top-bar {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding: 10px 0; /* Add 10px padding to the top and bottom */
  box-shadow: 0px 0px 2px gray; /* Remove the box-shadow */
  border-bottom: 1px solid #ccc; /* Add a thin gray line at the bottom */
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Style the text inside the top bar */
.top-bar h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  padding: 0;
}

.top-bar h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  padding: 0;
}

.top-bar h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  color: #333;
  margin: -5px 0 0;
  padding: 0;
}

.state-menu {
  height: calc(100vh - 100px); /* Adjust the height to fill the rest of the screen */
  overflow-y: scroll; /* Add a scrollbar if necessary */
}

.state-menu ul {
  list-style-type: none;
  padding: 0;
}

.state-menu li {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.state-menu li:hover {
  background-color: #f0f0f0;
}

#tracking-container {
  max-width: 375px; /* Width of an iPhone */
  margin: 0 auto;
}

.result-row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this line to center the text vertically */
  background-color: #90EE90;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

.result-row p {
  margin: 0;
  line-height: 1.4; /* Add this line to improve the line spacing */
  width: 50%;
  text-align: center;
}
